.ccourse-page-maincard {
    background-color: plum;
    margin-top: 50px;
    text-align: center;
    padding-top: 50px;
    border-radius: 50px;
}
.ccourse-heading {
    color: white;
    font-weight: bold;
    font-family: arial;
    font-size: 35px;
}
.ccourse-description {
    color: white;
    font-family: arial;
    font-size: 25px;
}
.ccourse-language {
    color: white;
    font-family: arial;
    font-size: 25px;
    padding-bottom: 50px;
}
.ccourse-card1 {
    border: 2px solid black;
    border-radius: 30px;
    width: 500px;
    margin-left: 500px;
}
.ccourse-card1-heading {
    font-family: Arial;
    padding: 40px 50px 0px 50px;
}
.c-course-list1 {
    font-family: arial;
    padding: 0px 50px 40px 65px;
}
.list1 {
    padding: 5px 0px 5px 0px;
}
.ccourse-card2 {
    width: 500px;
    margin-left: 500px;
}
.ccourse-card2-heading {
    font-family: Arial;
    padding: 10px 50px 0px 0px;
}
.c-course-list2 {
    font-family: arial;
    padding: 0px 50px 10px 30px;
}
.ccourse-card3 {
    margin-left: 500px;
}
.ccourse-card3-heading {
    font-family: Arial;
    padding: 10px 50px 10px 0px;
}
.ccourse-card4 {
    margin-left: 500px;
}
.ccourse-card4-heading {
    font-family: Arial;
    padding: 10px 50px 10px 0px;
}
.c-course-list4 {
    font-family: arial;
    padding: 0px 50px 10px 30px;
}
.list4 {
    padding-bottom: 10px;
}
.ccourse-card6 {
    text-align: center;
}
.ccourse-button {
    background-color: #00539C;
    color: white;
    border: 0px;
    border-radius: 10px;
    padding: 20px 50px 20px 50px;
    margin: 10px 0px 20px 0px;
}
