.heading {
    font-family: Arial;
    padding: 15px 0px 10px 90px;
    font-size: 33px;
}
.firstword-color {
    color: #00539C;
}
.secondword-color {
    color: #EEA47F;
}
.side-heading {
    padding: 20px 0px 10px 50px;
}
.firstside-heading {
    font-size: 20px;
    font-family: cursive;
    padding: 0px 10px 0px 0px;
}
.firstside-heading:hover {
    color: #EEA47F;
}
.signup-container {
    font-size: 20px;
    font-family: cursive;
    border-radius: 20px;
    border: 0px;
    background-color: lightblue;
    margin: 13px 0px 13px 700px;
    padding: 7px 20px;
}
.backgroundimage-container {
    background-image: URL("https://images.ctfassets.net/xpbu77rkft4z/4LicLgk7AeuKiAL6qwi9st/30f415e085a3a13dae4aee06e68835e9/web.jpg?h=1000 ");
    background-size: cover;
}
.backgroundheading-container {
    padding: 150px 0px 25px 200px;
    font-family: Arial;
    font-size: 40px;
}
.backgrounddescription-container {
    font-family: Arial;
    color: white;
    padding: 25px 0px 180px 200px;
    font-size: 28px;
    margin-right: 400px;
}
.hr-container {
    padding: 1px 0px;
    margin: 0px 15px;
    border-radius: 5px;
}
.card1 {
    text-align: center;
    margin: 50px 0px;
}
.card1-heading {
    font-size: 30px;
}
.card1-para {
    font-size: 20px;
}
.icon1 {
    font-family: Arial;
    font-size: 20px;
}
.icon-description {
    font-family: Arial;
    font-size: 15px;
}
.icon1-container {
    width: 300px;
    text-align: center;
    margin-left: 140px;
}
